<div class="container-button">
  <app-photo class="avatar" width="40px" [source]="user?.avatar" height="40px"></app-photo>
  <div class="sub-container">
    {{user?.firstName}}
    <div [hidden]="!opened" class="dropdown-content">
      <a class="drop-item"  routerLink="/items/own">Мои объявления</a>
      <div class="drop-item" (click)="logOut()">Выйти</div>
    </div>
  </div>
</div>
