
<div class="content">
  <div class="content_box">
    <h1>О нас</h1>
    <p><span class="h-text">Bigpoint GmbH</span><br>
      Drehbahn 47-48<br>
      20354 Гамбург<br>
      <br>
      <span class="h-text">Наш бизнес-портал</span><br>
      <a href="http://www.bigpoint.net/" class="uri">http://www.bigpoint.net</a><br>
      <br>
      <span>Реквизиты компании</span><br>
      CEO: Brian Morrisroe<br>
      Регистрационный суд: District Court of Hamburg<br>
      Регистрационный номер: B 94148<br>
      № налога с оборота: DE 813 602 704</p>
    <p class="h-text">Сведения об альтернативной процедуре разрешения споров</p>
    <p>Обратите внимание, что в соответствии с Законом Германии «Об урегулировании потребительских споров»
      (Verbraucherstreitbeilegungsgesetz, VSBG) мы не принимаем участия в добровольном альтернативном разрешении
      споров.</p>
    <p><span class="h-text">Ответственность</span><br>
      Мы тщательно контролируем содержание сайта, однако не несём ответственность за содержание внешних ссылок. За них
      ответственны исключительно их правообладатели.<br>
      <br>
      <span class="h-text">Контакты</span><br>
      contact@bigpoint.net<br>
      <br>
      <span class="h-text">При вопросах или проблемах обращайтесь в нашу службу поддержки!</span><br>
      E-mail: К формуляру службы поддержки<br>
      URL: http://www.bigpoint.com<br>
      <br>
      <span class="h-text">Уполномоченный по защите прав молодёжи</span><br>
      Адвокат Dr.&nbsp;Andreas Lober<br>
      BEITEN BURKHARDT Rechtsanwaltsgesellschaft mbH<br>
      Westhafenplatz 1, Westhafen Tower<br>
      D-60327 Frankfurt am Main<br>
      E-mail: jugendschutzbeauftragter@bigpoint.com<br>
      <br>
      <span class="h-text">Уполномоченный по защите данных</span><br>
      E-mail: privacy@bigpoint.net<br>
      <a href="/contacts">Положение о конфиденциальности</a></p>
  </div>
</div>

