.content {
  width: 50%;
  margin: 5px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;}

a em, em a {
  font-style: normal;
}

.content_box {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #CCC;
  padding: 20px 50px;
  max-width: 900px;
}

p {
  margin: 0 0 10px;
}

h1, .h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.1;
  font-family: cursive;
}

.h-text{
  font-weight: bold;
  font-size: 14px;
  color: #de3f07;
  font-family: cursive;
}


