
<div class="content">
  <div class="content_box">
    <h1 id="положение-о-конфиденциальности">Положение о конфиденциальности</h1>
    <p>В настоящем Положении о конфиденциальности содержится информация о том, какие персональные данные подлежат сбору компанией Bigpoint в связи с предлагаемыми интернет-услугами и играми. В этом документе также содержатся сведения о методах обработки и использования таких данных. Защита ваших персональных данных является важным приоритетом нашей работы.</p>
    <p>Ваши данные защищены от несанкционированного доступа и потери через использование различных электронных, технических, физических, административных и договорных операций.</p>
    <p>Компания Bigpoint приняла необходимые технические и организационные меры предосторожности, которые гарантируют соблюдение предписаний по защите данных как внутри компании, так и со стороны внешних поставщиков услуг.</p>
    <h2 id="сбор-данных">Сбор данных</h2>
    <p>Bigpoint собирает персональные данные,</p>
    <ul>
      <li><p>предоставляемые при регистрации на одном из наших веб-сайтов или в связи с использованием одной из наших игр;</p></li>
      <li><p>предоставляемые при обращении в службу поддержки;</p></li>
      <li><p>предоставляемые при использовании платных товаров и услуг, а при оплате за использование таких товаров и услуг;</p></li>
      <li><p>предоставляемые вами по вашему собственному желанию с целью участия в рекламных акциях и опросах, а также для получения новостных рассылок.</p></li>
    </ul>
    <p>Кроме того, компания Bigpoint собирает пользовательские данные в тех случаях, когда это необходимо для оказания услуг или выставления счёта за такие услуги. К таким данным относятся, прежде всего, игровые процессы, игровые статусы, а также информация об оказанных услугах и выставленных за них счетах.</p>
    <p>Информацию о платёжном поведении пользователей из Германии мы получаем от компании infoscore Consumer Data GmbH, Rheinstr. 99, 76532 Баден-Баден.</p>
    <p>Если вы пользуетесь Порталом или Играми и Услугами в течение продолжительного времени, обращаем ваше внимание на то, что мы также используем данные, полученные нашей компанией-предшественником Bigpoint S.á.r.l. &amp; Co, SCS, 10A rue Henri M. Schnadt, L-2530, Люксембург, являющейся на данный момент нашей дочерней компанией. Речь идёт о мастер-данных, необходимых для дальнейшего и беспрерывного предоставления игр. Это относится, прежде всего, к игровым процессам, игровым статусам, а также информации об оказанных услугах и выставленных за них счетах.</p>
    <p>В рамках использования наших веб-сайтов, форумов и игр компания Bigpoint собирает следующие неперсональные данные:</p>
    <ul>
      <li><p>IP-адреса с указаниями времени и даты;</p></li>
      <li><p>файлы cookies, локальные флеш-данные;</p></li>
      <li><p>статистическая информация, например, тип браузера, операционная система, URL, с которого вы были перенаправлены на нашу страницу, дата, время, посещённые страницы, общая продолжительность посещения, частота посещения.</p></li>
    </ul>
    <p>Собранные данные обрабатываются анонимно и используются в целях статистического анализа.</p>
    <p>Для выполнения требований закона, согласно которому мы обязуемся хранить данные, IP-адреса и соответствующая интернет-информация хранятся не более шести месяцев. Кроме того, упомянутые данные хранятся для обеспечения безопасности данных и гарантии стабильности и эксплуатационной надёжности нашей системы. В определенных случаях, для отслеживания использования в преступных целях нескольких аккаунтов и прекращения такого неправомерного использования компания Bigpoint может также использовать ваш IP-адрес и соответствующую интернет-информацию. В подобных случаях согласие на такое использование компания Bigpoint запрашивает отдельно для каждой игры.</p>
    <p>Согласие на использование файлов cookies:</p>
    <p>Хотя это условие содержится в Положении о конфиденциальности, отдельно обращаем ваше внимание, что мы используем файлы cookies для оптимизации использования нашего Портала, Игр и Услуг, главным образом это касается аспекта “восприятие пользователя”. Принимая Условия пользовательского соглашения, вы выражаете своё согласие на использование файлов cookies. Это согласие можно отозвать в любое время, отправив соответствующее сообщение по электронной почте на адрес: datenschutz@bigpoint.com. По всем дополнительным вопросам, касающихся файлов cookies, свяжитесь с нами по этому же электронному адресу.</p>
    <p>Для сбора статистических данных касательно использования наших предложений наш онлайн-сервис использует “Масштабируемые централизованные методы измерения” (Scalable Central Measuring method = SCM/SZMnG) компании INFOnline&nbsp;Ltd.&nbsp;GmbH (https://www.infonline.de). Сбору подлежат зарегистрированные анонимные данные. Для распознания компьютерных систем система измерения SCM альтернативно использует либо файл cookies с обозначением “ioam.de”, “ivwbox.de”, объект LocalStorage либо сигнатуру, автоматически создаваемую из различных передаваемых данных браузера. IP-адреса обрабатываются только в анонимизированной форме. Система измерения дальности была разработана с учётом строгого выполнения требований политик защиты данных. Ее целью является статистическое определение интенсивности использования веб-сайта и количества его пользователей. Отдельные пользователи не идентифицируются ни на каких этапах процесса. Информация о личности всегда остаётся защищённой. Рассылка рекламы через систему не производится. Для онлайн-предложений, относящихся к информационному сообществу по выявлению распространения рекламных носителей (Informationsgemeinschaft zur Feststellung der Verbreitung von Werbeträgern e.V.) (IVW – www.ivw.eu) или принимающих участие в исследовании “Internet Facts” рабочей немецкой группы по онлайн-исследованиям (Arbeitsgemeinschaft Online-Forschung e.V., AGOF – www.agof.de), пользовательские статистики ежемесячно публикуются AGOF и рабочей группой медиа-анализа (Arbeitsgemeinschaft Media-Analyse e.V., ag.ma - www.agma-mmc.de), а также IVW на следующих ресурсах: http://www.agof.de, http://www.agma-mmc.de и http://www.ivw.eu. Помимо публикации измерительных данных IVW регулярно проверяет методы SСM на предмет соответствия правилам защиты данных. Дополнительную информацию о методах SСM можно получить на веб-сайте провайдера метода SСM - INFOnline GmbH (https://www.infonline.de), веб-сайте о защите данных AGOF (http://www.agof.de/datenschutz) и веб-сайте о защите данных IVW (http://www.ivw.eu). Вы можете внести возражение против обработки данных методами SСM по следующей ссылке: http://optout.ioam.de и http://optout.ivwbox.de.</p>
    <h2 id="использование-ваших-данных">Использование ваших данных</h2>
    <p>Ваши персональные данные используются:</p>
    <ul>
      <li><p>для предоставления наших услуг и выставления счетов за такие услуги;</p></li>
      <li><p>в анонимизированной или псевдонимизированной форме с целью удовлетворения потребительских запросов и усовершенствования наших услуг;</p></li>
      <li><p>для выполнения юридических обязательств, в частности, обязательств по хранению данных.</p></li>
    </ul>
    <p>Мы также используем эту информацию для коммуникации с пользователями. К этому, в частности, относится оказание помощи и поддержки, а также предоставление важной информации, касающейся договора. При условии предоставления вашего согласия мы регулярно информируем вас о новостях, акциях и событиях, например, по электронной почте, телефону или путем текстовых сообщений.</p>
    <h2 id="передача-данных">Передача данных</h2>
    <p>Ваши данные хранятся строго конфиденциально и не передаются третьим сторонам, за исключением случаев предоставления вами явного согласия на передачу ваших данных третьим сторонам. Мы, тем не менее, согласно законодательству обязаны в определенных случаях передать ваши данные (например, следственным органам), при этом такая передача данных происходит исключительно в определённых законодательством рамках.</p>
    <p>В отдельных случаях предоставлять услуги от нашего имени могут дочерние, материнские компании или третьи лица. Это касается, прежде всего, осуществления платежей через внешних поставщиков услуг (Paypal, Global Collect и т.д.), а также коллекторских агентств в случае задолженности. Помимо этого, для проведения маркетинговых исследований мы предоставляем ваши данные сторонним организациям, связанным с Группой Bigpoint договорными обязательствами, для последующего развития и усовершенствования наших игр. Такие сторонние организации обязуются обеспечить вашим данным защиту и конфиденциальность, при этом они могут использовать ваши данные лишь в целях выполнения своей задачи.</p>
    <h2 id="игровые-новости-и-предложения-партнёров">Игровые новости и предложения партнёров</h2>
    <p>Ставя галочку возле “Игровых новостей и предложений партнёров”, вы предоставляете свое согласие на получение подобной информации. Ваше согласие заносится в протокол, сохраняется и может быть отозвано в любое время путем использования контактного формуляра</p>
    <p>(http://ru.bigpoint.com/support/).</p>
    <h2 id="google-analytics">Google Analytics</h2>
    <p>Данный сайт использует аналитическую веб-службу Google Analytics, предлагаемую корпорацией Google Inc. (“Google”). Для анализа использования пользователями определенного сайта служба Google Analytics использует файлы сookies, которые являются текстовыми файлами в вашем компьютере. Информация о вашем поведении на сайте (в том числе ваш IP-адрес), полученная с помощью файлов сookies, передаётся на серверы Google в США и хранится на них. Тем не менее, если на этом веб-сайте вы активируете анонимизацию IP-адресов, Google удаляет окончание вашего IP-адреса, таким образом указывая только на то, что вы находитесь на территории стран-участников Европейского Союза или других государств-участников соглашения о Европейской экономической зоне. Полный IP-адрес передаётся на сервер Google в США и сокращается там только в исключительных случаях. По заказу оператора сайта Google будет использовать данную информацию, чтобы анализировать ваше поведение на сайте, составлять отчёты об активности на сайте, а также чтобы предоставлять другие услуги, связанные с использованием сайта и интернета. Оператор этого сайта использует данные, полученные путём анализа просмотренной интересующей посетителей рекламы и данных посетителей сторонних операторов (например, возраст, пол и интересы), чтобы узнать больше о пользователях этого сайта. При этом персональные данные не используются, а происходит только статистический анализ анонимных данных. Связь между IP-адресом, переданным посредством Goolge Analytics, и другими данными Google не отслеживается. Используя соответствующие настройки в своём браузере, вы можете отказаться от использования файлов сookies. Учтите, однако, что в этом случае вы, возможно, не сможете пользоваться всеми функциями данного сайта в полной мере. Кроме того, вы можете запретить Google собирать с помощью сookies и обрабатывать данные о вашем поведении на сайте (включая ваш IP-адрес), если скачаете и установите плагин для браузера по ссылке ниже: <a href="http://tools.google.com/dlpage/gaoptout?hl=ru">http://tools.google.com/dlpage/gaoptout</a>. Если вы хотите настроить или не допустить анализ вашей демографической информации и интересов, вы можете отключить Google Analytics для показа рекламы и настроить рекламу в медийной сети Google: https://www.google.com/settings/ads.</p>
    <h2 id="таргетинговая-интернет-реклама">Таргетинговая интернет-реклама</h2>
    <p>Реклама на наших сайтах оптимизируется индивидуально для вас посредством сбора и обработки анонимных данных о вашем поведении на наших сайтах. Ответственность за сбор вышеупомянутой информации несет немецкий телекоммуникационный провайдер ProSiebenSat.1 Digital GmbH в сотрудничестве с компанией SevenOne Media GmbH, которая занимается интернет-маркетингом и является дочерней компанией ProSiebenSat.1-Group и ProSiebenSat.1 Digital GmbH, в соответствии с §§ 15 и следующих параграфов Закона об акционерных обществах Германии. Для этих целей сторонние компании устанавливают на вашем компьютере файлы сookies, собирающие пользовательские данные. Речь идёт о данных, регистрируемых во время вашего пребывания на страницах данного сайта и нажатия на рекламные материалы. Таким образом мы можем анализировать использование онлайн-рекламы и отображать для вас те рекламные материалы, которые могут быть интересны именно вам и соответствовать вашим личным предпочтениям (“таргетинговая интернет-реклама”). При этом никакие личные данные (например, имя, адрес, e-mail) не сохраняются. IP-адреса анонимизируются, поэтому они не могут быть переданы какому-либо определенному лицу.</p>
    <p>Если вы больше не хотите получать таргетинговую интернет-рекламу, вы можете заблокировать установку и хранение сookies на своем компьютере путем изменения настроек в своём браузере, чтобы он больше не принимал файлы сookies. Помимо этого, вы можете от нашего имени запретить сторонним компаниям и служащим использовать файлы сookies, воспользовавшись для этого следующими ссылками:</p>
    <p>Nugg.ad AG: http://ad-choices.nuggad.net</p>
    <p>AudienceScience: <a href="http://www.audiencescience.com/de/privacy" class="uri">http://www.audiencescience.com/de/privacy</a></p>
    <p>Criteo GmbH: <a href="http://www.criteo.com/privacy" class="uri">http://www.criteo.com/privacy</a></p>
    <p>Кроме того, мы разрешаем другим третьим лицам, например, медиа-агентствам, использовать файлы сookies для анализа использования онлайн-рекламы и отображения на нашем сайте специальной рекламы, интересующей именно вас и отвечающей именно вашим личным предпочтениям. Помимо этого, подобные действия помогают медиа-агентствам более точно и целенаправленно обращаться к целевой аудитории без значительных потерь. Для этого создаются, например, анонимные пользовательские статистики, а данные используются для маркетинговых исследований без идентификации отдельных личностей. Дополнительную информацию о защите персональных данных вышеупомянутыми службами и возможности внесения возражений против использования файлов сookies для создания таргетинговой онлайн-рекламы можно найти на сайте SevenOne Media GmbH по адресу: <a href="https://www.sevenonemedia.de/web/sevenone/datenerhebung-anderer-dienstleister1" class="uri">https://www.sevenonemedia.de/web/sevenone/datenerhebung-anderer-dienstleister1</a> Установку сторонних файлов сookies на своем компьютере также можно контролировать с помощью соответствующих настроек в браузере.</p>
    <p>SevenOne Media GmbH добровольно соблюдает правила саморегулирования, рекомендованные Немецким советом по защите данных в интернет-рекламе (DDOW - Deutscher Datenschutzrat Online-Werbung). Действующий для нас кодекс саморегулирования (Code for Telemedia Providers – First Parties) можно найти по следующей ссылке: <a href="http://www.meine-cookies.org/ddow.html">www.meine-cookies.org/ddow.html</a>.</p>
    <h2 id="плагины-социальных-сетей">Плагины социальных сетей</h2>
    <p><span class="h-text">Facebook</span></p>
    <p>На нашей веб-странице содержатся различные ссылки на внешнюю социальную сеть Facebook. Этот сайт используется исключительно Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (Facebook).</p>
    <p>Ссылки выделяются в рамках нашего сайта посредством логотипа Facebook или фразы “Мне нравится” (плагины Facebook не используются).</p>
    <p>Нажатие одной их этих ссылок активирует плагины Facebook, а браузер пользователя устанавливает прямое соединение с сервером Facebook.</p>
    <p>Если во время посещения нашего сайта пользователь нажимает одну из упомянутых выше ссылок и при этом заходит в свой аккаунт на Facebook, информация о посещении пользователем нашего сайта передаётся Facebook. Facebook может соотнести информацию о посещении сайта с вашим аккаунтом.</p>
    <p>Данная информация передаётся Facebook и хранится там. Чтобы этого не допустить, перед нажатием ссылки пользователю следует выйти из своего аккаунта на Facebook. Функции ссылок Facebook, в особенности передача информации и данных пользователя, активируются не самим фактом посещения нашего сайта, а только в случае нажатия соответствующих ссылок.</p>
    <p>Для получения информации о цели сбора данных через Facebook и объёме таких данных, обработке и использовании таких данных, а также о своих правах в связи со сбором такой информации и настройках конфиденциальности для обеспечения конфиденциальности изучите раздел о настройках конфиденциальности Facebook (<a href="http://ru-ru.facebook.com/privacy/explanation.php" class="uri">http://ru-ru.facebook.com/privacy/explanation.php</a>).</p>
    <p>По другим вопросам касательно сбора, обработки и использования личных пользовательских данных, а также касательно предоставления данных, исправления данных, блокирования или удаления данных свяжитесь с нашими специалистами по надзору за соблюдением законодательства о защите персональных данных.</p>
    <p><span class="h-text">Facebook Connect</span></p>
    <p>Мы предлагаем возможность подписаться на наши услуги через Facebook Connect. Для этого вы будете перенаправлены в Facebook, где сможете войти в систему с помощью своих данных пользователя Facebook. После этого ваша учетная запись в Facebook будет прикреплена к нашим услугам. В зависимости от ваших настроек Facebook, после установки соединения с вашей учётной записью мы сможем получать или извлекать следующие данные: имя, дата рождения и адрес электронной почты.</p>
    <p>Данная информация будет использована исключительно в идентификационных целях и для заключения контракта. Для получения дополнительной информации о Facebook Connect и настройках конфиденциальности изучите Положения о конфиденциальности и Условия использования компании Facebook Inc.</p>
    <p><span class="h-text">Google Plus</span></p>
    <p>Наш сайт также использует кнопку “+1” социальной сети Google Plus, провайдером которой является Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, США (“Google”). Кнопка представляет собой значок “+1” на белом либо цветном фоне.</p>
    <p>Если пользователь заходит на один из наших сайтов, содержащих данную кнопку, пользовательский браузер устанавливает прямое соединение с сервером Google. Контент кнопки “+1” непосредственно передается на ваш браузер, который встраивает указанный контент в веб-сайт. Таким образом, мы не можем контролировать данные, которые Google собирает с помощью указанной кнопки, однако исходим из того, что при этом регистрируется пользовательский IP-адрес.</p>
    <p>Для получения информации о цели сбора данных через Google и объёме таких данных, обработке и использовании таких данных, а также о своих правах в связи со сбором такой информации и настройках конфиденциальности для обеспечения конфиденциальности изучите раздел о настройках конфиденциальности Google: http://www.google.com/intl/de/+/policy/+1button.html</p>
    <p>Если Вы являетесь пользователем Google Plus и не хотите, чтобы через наш сайт Google собирал данные о вас и соотносил их с вашими сохранёнными в Google данными пользователя, перед посещением наших сайтов вам следует выйти из своего аккаунта Google Plus.</p>
    <h2 id="информационная-безопасность">Информационная безопасность</h2>
    <p>Чтобы предотвратить противоправное использование наших услуг, с помощью поставщика услуг в сфере безопасности информационных технологий (ИТ) и с помощью так называемых файлов cookies и технологий отслеживания мы собираем и обрабатываем в анонимной форме определенные данные о функциях используемого пользователем конечного устройства (“специфические для устройства данные”), необработанные данные из соединения по протоколу TCP/IP и данные об использовании нашего веб-сайта.</p>
    <p>При этом в первую очередь также собираются и обрабатываются данные об IP-адресе, которые кодируются в течение нескольких секунд. Мы не собираем и не храним личные данные. Для предотвращения мошенничества информация хранится в базе данных поставщика услуг информационной безопасности.</p>
    <p>При заключения вами на нашем веб-сайте договора возмездного оказания услуг или в случае начала процесса, который ведет к заключению такого договора (например, начало процесса оформления оплаты), мы запрашиваем оценку риска из базы данных поставщика услуг информационной безопасности, которая была сохранена в отношении используемого вами устройства.</p>
    <p>Оценка рисков используется, среди прочего, в качестве основы для принятия решения о возможности заключения договора возмездного оказания услуг.</p>
    <p>Если нам становится известно, что пользователь неправомерно использует или пытался неправомерно использовать наши услуги, мы передаём собранные данные поставщику услуг информационной безопасности. При этом передается не личная информация, а только специфические для устройства данные.</p>
    <h2 id="право-на-отзыв-уничтожение-данных">Право на отзыв, уничтожение данных</h2>
    <p>Если вы дали согласие на обработку персональных данных, вы можете отозвать его в любое время.</p>
    <p>Bigpoint уничтожает ваши персональные данные, если в них больше нет необходимости или по вашему требованию. Примите к сведению, что данные не могут быть уничтожены, если они подлежат хранению в установленном законом порядке либо такие данные необходимы для выставления счёта за оказанные услуги.</p>
    <h2 id="информация-ознакомление-и-уничтожение-данных">Информация, ознакомление и уничтожение данных</h2>
    <p>На <a href="http://ru.bigpoint.com/support/" class="uri">http://ru.bigpoint.com/support/</a> вы можете отправить запрос на просмотр сохраненных данных или запрос на их изменение или уничтожение. Запрос также можно отправить обычным письмом на следующий адрес:</p>
    <p>Bigpoint GmbH<br>
      Drehbahn 47-48</p>
    <p>20354 Гамбург</p>
    <p>В случае возникновения у вас каких-либо вопросов касательно Положения о конфиденциальности компании Bigpoint свяжитесь с нами по адресу: datenschutz@bigpoint.com<br>
      Укажите свой пользовательский ID, адрес электронной почты и при необходимости название(-я) соответствующей игры (игр).</p>
    <p><span id="adserver-opt-out" class="anchor"></span></p>
    <p>Гамбург, 1 ноября 2016 г.</p>
    <p>Bigpoint GmbH<br>
      Drehbahn 47-48</p>
    <p>20354 Hamburg</p>
    <p><span class="h-text">Номер в торговом реестре:</span> HRB-Hamburg 94148</p>
    <p><span class="h-text">№ налога с оборота:</span> DE813 602 704</p>
    <p><span class="h-text">Правление: </span>Brian Morrisroe</p>
  </div>
</div>


