<h2 class="item-title">{{item.title}}</h2>

<div class="section-wrapper">
  <app-photo [source]="item.photo" className="image-box"></app-photo>
</div>

<div class="info-wrapper">
  <div class="created-date">
    <span class="info-field">Дата создания: </span>
    {{item.createdDate.dayOfMonth}}-{{item.createdDate.month}}-{{item.createdDate.year}}
  </div>
  <div>
    <span class="info-field">Цена: </span>
    {{item.price}} грн
  </div>
  <div>
    <span class="info-field">Адресс: </span>
    {{item.address}}
  </div>
  <div>
    <span class="info-field">Описание: </span>
    {{item.description}}
  </div>

</div>

<!--features-->

<div class="show-more-info-block">
  <button class="show-info-btn hide-button" (click)="showFeatures = !showFeatures">
    Показать	характеристики
  </button>
</div>

<div class="more-info">
  <div [ngClass]="{'hide' : showFeatures === true}">
    <div *ngFor="let feature of item.features">
      <span class="feature-title info-field">{{feature.title}}:</span>
      <span class="feature-value value-field">{{feature.value}}</span>
    </div>
  </div>
</div>
