.feature-title {
  color: #222;
}

.item-title {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.section-wrapper {
  float: right;
}

.info-wrapper {
  font-size: 15px;
  line-height: 40px;
  display: grid;
}

.info-field {
  color: #de3f07;
  font-weight: bold;
  font-family: cursive;
  font-size: 18px;
}

.feature-value {
  margin-left: 10px;
}

.show-more-info-block {
  display: grid;
  margin: auto;
  width: 100%;
  height: 15%;
}

.value-field {
  font-size: 15px;
  line-height: 40px;
}

.show-info-btn {
  padding: 10px;
  margin: auto;
  color: white;
  width: 85%;
  font-size: 17px;
  border-radius: 5px;
  border: 0px;
  background: #de3f07;
  font-family: cursive;
  margin-top: 10px;
}

.show-info-btn:focus {
  outline: none !important;
}
