.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  min-height: 350px;
}

.sub-container {
  width: 60%;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  width: 100%;
}

.control, .control-btn {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  position: relative;
}

.control {
  width: 75%;
}

.control-btn {
  width: 100px;
}

.mark, .error {
  margin: 0 4px;
}

.control input {
  margin: 0 auto;
  width: 100%;
  padding: 4px 3px;
  box-sizing: border-box;
  display: inline-block;
}

.orange-link {
  color: #F25510;
  text-decoration: none;
}

.orange-link:hover {
  text-decoration: underline;
}

.ng-valid[required], .ng-valid.required {
  box-shadow: 0 0 4px rgba(100, 100, 255, 0.7);
}

.error {
  position: absolute;
  color: red;
  margin-bottom: 6px;
  display: block;
}

.error-wraper {
  position: relative;
}

.check {
  position: absolute;
  top: 25px;
  right: -30px;
  font-size: 14pt;
  color: green;
}
h2{
  text-align: center;
  margin-bottom: 60px;
}
