<div class="container">
  <h2>Регистрация</h2>
  <div class="sub-container">
    <form class="form-control" name="form" [formGroup]="form" (submit)="onSubmit()">
      <div class="control">
        <div class="mark">Имя: *</div>
        <input id="name" type="text" [(ngModel)]="firstName" formControlName="firstName" name="firstName" required>
        <i class="fa fa-check check" *ngIf="firstNameC.valid"></i>
      </div>
      <div class="control">
        <div class="mark">Фамилия: *</div>
        <input type="text" [(ngModel)]="secondName" formControlName="secondName" name="secondName" required>
        <i class="fa fa-check check" *ngIf="secondNameC.valid"></i>
      </div>
      <div class="control">
        <div class="mark">E-Mail: *</div>
        <input type="email" email="true" [(ngModel)]="email" formControlName="email" name="email" required>
        <i class="fa fa-check check" *ngIf="emailC.valid"></i>
      </div>
      <div class="control">
        <div class="mark">Пароль: *</div>
        <input type="password" [(ngModel)]="password" formControlName="password" name="password" required>
        <i class="fa fa-check check" *ngIf="passwordC.valid"></i>
        <div class="error-wraper">
          <div class="error" *ngIf="(passwordC.invalid && submitTouched) && submitTouched">
            Пароль должен быть не меньше шести символов, состоять из строчной буквы, заглавной и числа
          </div>
        </div>
      </div>
      <div class="control">
        <div class="mark">Подтвердите пароль: *</div>
        <input type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}" name="password2" required>
        <i class="fa fa-check check" *ngIf="password === password2"></i>
        <div class="error-wraper">
          <div class="error" *ngIf="(password != password2) && submitTouched">Пароли не совпадают</div>
        </div>
      </div>
      <div class="control-btn">
        <input type="submit" class="sub_btn" name="submit" value="Подтвердить">
      </div>
    </form>
  </div>
</div>
