
.item-box {
  border: 1px solid #eec9aa;
  display: inline-block;
  margin: 10px;
  background-color: white;
}

.item-box:hover, .edit-button:hover {
  box-shadow: 0 0 5px rgba(255, 153, 85, 0.8);
  border: 1px solid #ff9955;
}

.title-box {
  color: #F25510;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.price-box {
  font-size: 12pt;
  height: 10px;
  padding: 4px 8px;
  background-color: orange;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: -25px;
  left: 20px;
  color: #412d9b;
}

.edit-button {
  border: 1px solid #eec9aa;

  border-radius: 3px;
  display: table;
  float: right;
  margin-right: 10px;
  margin-left: 220px;
  margin-top: -15px;
}

.edit-button i {
  display: block;
  padding: 4px;
  color: #eec9aa;
}

.edit-button:hover i {
  color: #DE3F07;
}
