<div class="item-box" (click)="redirectToItem()">
  <div class="title-box">{{item.title.substring(0,titleLength)}}<span
    *ngIf="item.title.length >= titleLength">...</span></div>
  <div (click)="redirectToEdit()" [hidden]="user?.id === item.user.id" class="edit-button">
    <i class="fa fa-edit"></i>
  </div>
  <app-photo className="crop-big" [source]="item.photo"></app-photo>
  <div class="dist"></div>
  <span class="price-box">{{item.price}} грн</span>
</div>
