<div id="wrapper">
  <div id="header_top">
    <ul id="menu-list">
      <li *ngFor="let page of pages" [ngClass]="page.classes"
          [hidden]="user && page.restriction == 2 || !user && page.restriction >=3">
        <a [routerLink]="page.ref" class="nav-bar-link">
          {{page.text}}
          <i *ngIf="page.dropdowns != null" class="fa fa-caret-down size-up" aria-hidden="true"></i>
        </a>
        <div *ngIf="page.dropdowns != null" class="dropdown-content">
          <a *ngFor="let drop of page.dropdowns" [routerLink]="drop.ref">{{drop.text}}</a>
          <a *ngFor="let cat of categories" [routerLink]="'/items/'+ cat.value">{{cat.title}}</a>
        </div>
      </li>
      <li class="right" [hidden]="!user">
        <app-user-bar [user]="user" [opened]="false"></app-user-bar>
      </li>
    </ul>
    <div id="welcome-search">
      <form action="/item/retrieve">
        <input type="text" name="keyword"
               title="keyword" class="txt_field"/>
        <input type="submit"
               name="Search" value="Поиск"
               title="Search" class="sub_btn"/>
      </form>
    </div>
    <br style="clear: both;"/>
  </div>
  <!-- end of tooplate_menu -->

  <!-- END of header top -->

  <!-- END of header -->
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- END of main -->
<!-- END of wrapper -->
<div class="push"></div>

<!--start of footer-->

<div id="bottom-footer">
  <div id="bottom_wrapper">
    <div id="bottom">
      <div class="row">
        <h4>Карта сайта</h4>
        <ul class="list_bullet">
          <li *ngFor="let page of linkedPage" [hidden]="!user && page.restriction >=3" ]>
            <a [routerLink]="page.ref">{{page.text}}</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="row">
        <h4>Категории</h4>
        <ul class="list_bullet">
          <li *ngFor="let page of categories"><a [routerLink]="'/items/' + page.value">{{page.title}}</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="row">
        <h4>Страницы</h4>
        <p></p>
        <a href="#"><img src="/assets/images/facebook.png"
                         alt="Facebook"/></a> <a href="#"><img
        src="/assets/images/google.png" alt="Google"/></a> <a href="#"><img
        src="/assets/images/skype.png" alt="Skype"/></a> <a href="#"><img
        src="/assets/images/twitter2.png" alt="Twitter"/></a>
      </div>
      <div class="clear"></div>
    </div>
    <!-- END of bottom -->
  </div>
  <!-- END of bottom wrapper -->

  <div id="footer_wrapper">
    <div id="footer">Copyright © 2048 LOX Company</div>
    <!-- END of footer -->
  </div>
</div>
<!-- END of footer wrapper -->
