<div class="products">

  <h1>
    <a [routerLink]="newItemLink">Новые объявления</a>
  </h1>
  <app-item-box class="product-box" *ngFor="let item of items" [item]="item"></app-item-box>
</div>

<hr/>

<div class="products">
  <h1>
    <a [routerLink]="popularItemLink">Популярные объявления</a>
  </h1>
  <app-item-box class="product-box" *ngFor="let item of items" [item]="item"></app-item-box>
</div>

<div class="clear"></div>
