<div id="item-list-wrapper">
    <span class="item-order">
    <app-order-box [class]="orderBoxClass" [orderBy]="orderBy" (directionChange)="handleDirectionChange()"
                   (orderByChange)="handleOrderChange($event)"
                   [showBlock]="false"></app-order-box>
  </span>
  <h2>{{header}} </h2>
  <div class="clear"></div>
  <div id="item-list">
    <app-item-box
      *ngFor="let item of items | paginate: {itemsPerPage: itemsOnPage, currentPage: page, totalItems: itemsOnPage * totalPages}"
      class="item-box" [item]="item"></app-item-box>
  </div>
  <pagination-controls class="pagination" nextLabel="Следующая" previousLabel="Предыдущая" [maxSize]="7"
                       screenReaderPageLabel="page" (pageChange)="onPageChange($event)"
                       screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
