
h2 {
  max-width: 70%;
  height: 25px;
}

#item-list {
  margin-left: 7.5%;
  display: block;
}

.dist {
  height: 10px;
}

a:hover {
  text-decoration: none;
}

.item-order {
  float: right;
  margin-right: 5%;
  position: relative;
  bottom: 10px;
}

.pagination /deep/ .ngx-pagination * {
  padding: 0;
  margin: 0;
}

.pagination /deep/ .ngx-pagination span,
.pagination /deep/ .ngx-pagination .pagination-previous *,
.pagination /deep/ .ngx-pagination .pagination-next * {
  padding: 10px 16px;
  display: inline-block;
}

.pagination /deep/ .ngx-pagination .current {
  background-color: #DE3F07;
}
