<!--See style in registration/registration.component.css-->

<div class="container">
  <h2>Логин</h2>
  <div class="sub-container">
    <form class="form-control" name="form" (submit)="onSubmit()">
      <div class="control">
          <div class="mark">E-Mail: *</div>
          <input type="email" email="true" [(ngModel)]="email" name="email" required>

      </div>
      <div class="control">
        <div class="mark">Пароль: *</div>
        <input type="password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="control-btn">
        <input type="submit" class="sub_btn" name="submit" value="Подтвердить">
      </div>
    </form>
  </div>
</div>
