<div class="container">
  <h2>Добавление объявления</h2>
  <div class="sub-container">
    <form class="form-control" name="form" [formGroup]="form" (submit)="onSubmit()">
      <div class="control">
        <span class="mark"> Введите название товара:</span>
        <input class="" type="text" required name="title">
      </div>
      <div class="control">
        <span class="mark"> Введите цену товара:</span>
        <input class="" type="text" required name="price">
      </div>
      <div class="control">
        <span class="mark"> Введите описание товара:</span>
        <input class="" type="text" required name="about">
      </div>
      <div class="control">
        <span class="mark"> Введите адрес:</span>
        <input class="" type="text" required name="address">
      </div>
      <div class="control-slc">
        <span class="mark"> Выберите категорию:</span>
        <select class="select" required name="category">
          <option *ngFor="let cat of categories" [value]="cat.value">
            {{cat.title}}
          </option>
        </select>
      </div>
      <div class="control-div">
        <input type="submit" class="control-btn" name="submit" value="Добавить">
      </div>
    </form>
  </div>
</div>
