/* Style The Dropdown Button */

.dropbtn {
  background-color: #F25510;
  color: white;
  padding: 4px 20px;
  border: none;
  cursor: pointer;
  width: 160px;
  border-radius: 6px;
}

.opened {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #F25510;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 5px;
}

/* Links inside the dropdown */
.dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.content-painter {
  background-color: #f9f9f9;
  color: black;
}

/* Change color of dropdown links on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-content span:hover, .dropdown:hover .dropbtn {
  background-color: #F25510;
  color: white;
}

.underline {
  border-bottom: 1px solid orange;
}
