<div class="dropdown">
  <button class="dropbtn  {{buttonClass}}" (click)="showBlock = !showBlock; setDropdownOpen()">Сортировать</button>
  <div [ngClass]="{'hide' : showBlock === false}">
    <div class="dropdown-content">
      <div class="content-painter underline">
        <span *ngFor="let item of orderItems" (click)="setOrder(item);">
          {{item.name}}
          <i class="fa fa-check" *ngIf="item.isActive"></i></span>
      </div>
      <div class="content-painter">
        <span (click)="setDirection(true)">По возрастанию <i class="fa fa-check" *ngIf="getDirection()"></i></span>
        <span (click)="setDirection(false)">По убыванию  <i class="fa fa-check" *ngIf="!getDirection()"></i></span>
      </div>
    </div>
  </div>
</div>
